<footer class="footer">
  <p>&copy; 2018 Auth, Inc.</p>
</footer>

</div>
<!-- /container -->
<script type="text/javascript">
if (window.location.hash == '#_=_'){
    history.replaceState 
        ? history.replaceState(null, null, window.location.href.split('#')[0])
        : window.location.hash = '';
}
</script>
</body>

</html>